body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #200e01;
  background-color: #ee5517;
}

#header-nav {
  background-color: #771013;
  border: none;
  border-radius: 0;
}

.navbar-brand h1 {
  font-size: inherit;
  margin: inherit;
  line-height: inherit;
}

.navbar-header a.navbar-brand {
  color: #ffeebb;
}

.navbar-header a.navbar-brand:hover, .navbar-header a.navbar-brand:focus {
  color: #fff;
}

#header-nav button.navbar-toggle {
  border-color: transparent;
}

#header-nav button.navbar-toggle:hover, #header-nav button.navbar-toggle:focus  {
  border-color: #fff;
  background-color: transparent;
}

#header-nav button.navbar-toggle:hover > .icon-bar, #header-nav button.navbar-toggle:focus > .icon-bar {
  background-color: #fff;
}

#header-nav .icon-bar {
  background-color: #ffeebb;
}

#toggle-nav {
  border-color: #ffeebb;
}

#nav-list a {
  color: #ffeebb;
}

#nav-list a:hover {
  color: #fff;
}

.row {
  padding-bottom: 20px;
  margin: 0px auto 30px;
}

#homepage-title {
  border-bottom: none;
}

#special-menu {
  height: 100%;
  background-color: #ffbb66;
  border-radius: 10px;
  padding: 10px 15px 20px;
}

/******* OPTIONAL PORTION *******/
#special-menu .title, #optional-content .title {
  margin-bottom: 30px;
}

#special-menu .description p, #optional-content .description p {
  font-family: 'Roboto Slab', sans-serif;
}

hr.visible-xs {
  width: 50%;
  border-color: #ffeebb;
}

.optional-menu {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#optional-content {
  display: flex;
  flex-wrap: wrap;
}

#opt-menu-1, #opt-menu-2, #opt-menu-3 {
  height: 100%;
  background-color: #ffbb66;
  border-radius: 5px;
  padding: 10px 15px 20px;
}

.optional-menu div div:last-child {
  margin-top: 10px;
  margin-bottom: -10px;
}

.optional-menu a {
  color: #000;
  text-decoration: none;
}

.optional-menu a:hover, .optional-menu a:active {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-brand {
    height: auto;
  }

  .navbar-brand h1 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  #special-menu {
    padding-left: 70px;
    padding-right: 70px;
  }

  #opt-menu-1, #opt-menu-2, #opt-menu-3 {
    padding: 10px 30px 20px;
  }
}
